<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathToRepoKey" />
		<add key="FirstBranchNameKey" value="master" />
		<add key="SecondBranchNameKey" />
		<add key="PathToReleaseCatalogsKey" />
		<add key="ReleaseCatalogsKey" value="web js,Scripts,Fixes,extensions,extensions\web,extensions\server,extensions\client,extensions\chronos,extensions\fdWorkflow,Configuration" />
		<add key="PathToRepositoryNetProjectBuildKey" />
		<add key="PathToRepositoryWebProjectBuildKey" />
		<add key="PathToRepositoryCustomBuildKey" />
		<add key="CustomScriptArgumentsKey" />
	</appSettings>
</configuration>